/*Estilos barra de navegacion*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    z-index: 1;
}

.logo {
    height: 8vh;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    li a {
        text-decoration: none;
        color: #1c1c1c;
    }
}

.abrir-menu,
.cerrar-menu {
    display: block;
    border: 0;
    font-size: 8vh;
    background-color: transparent;
    cursor: pointer;
    color: #dfddd1;
}

.nav {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #67583f;
    width: 50vw;
    height: 100vh;
    padding: 2vw;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    z-index: 98;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
}

.nav-list {
    flex-direction: column;
    align-items: start;
    li a {
        color: #dfddd1;
        font-size: 10vw;
        z-index: 99;
    }
}

@media screen and (min-width: 740px) {
    .abrir-menu,
    .cerrar-menu {
        display: none;
    }

    .nav {

        visibility: visible;
        display: flex;
        background-color: transparent;
        backdrop-filter: blur(10px);
        width: 100vw;
        height: 10vh;
        left: 0;
        right: 0;
        box-shadow: none;
        top: 0;
        align-items: end;
        justify-content: space-between;
        z-index: 98;
           }

    .logo {
        z-index: 99;
    }

    .nav-list {
        flex-direction: row;
        li a {
            color: #191916;
            font-size: 4vh;
            padding: 2vh;
        }
    }

}