.col{     
    margin-top: 5rem;
    h1{ font-size: 5rem;}
    p{ font-size: 2rem;}
    h2{font-size: 5rem;}
    h3{font-size: 3rem;}
}

@media screen and (min-width: 774px) {
.col{ margin-top: 15rem;
    margin-left: 8rem;
}
}

.accordion-button{
    background-color: #b9a881;
    width: 35em;
   
}
.accordion-item{
    background-color: #b9a881;
 ;
}

.mapubi{
    margin-bottom: 5rem;
    margin-left: 3vw;
}

.colinfo{
    margin-left: 3vw;
}



